/* Text styles */

.text--normal {
  color: white;
  font-family: 'Londrina Solid', cursive;
  font-size: 20px;
  font-weight: normal;
}

.text--emphasis {
  color: #FD64B7;
  font-family: 'Londrina Solid', cursive;
  font-size: 20px;
  font-weight: normal;
}

.text--focus {
  color: #0AF4F9;
}

.text--contrast {
  color: #6B1C77;
}

.text--large {
  font-size: 36px;
}

.text--small {
  font-size: 12px;
}

/* App styles */

.lateral-padding {
  padding-left: 100px;
  padding-right: 100px;
}

/* Media queries */

@media (max-width: 900px) {
  .text--large {
    font-size: 28px;
  }
}

@media (min-width: 451px) and (max-width: 760px) {
  .lateral-padding {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media (max-width: 450px) {
  .text--normal {
    font-size: 16px;
  }
  .text--emphasis {
    font-size: 16px;
  }
  .text--large {
    font-size: 28px;
  }
  .text--small {
    font-size: 12px;
  }
  .lateral-padding {
    padding-left: 20px;
    padding-right: 20px;
  }
}