.grid {
    align-content: start;
    align-items: center;
    display: grid;
    gap: 10px 10px;
    grid-auto-flow: row;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-template-rows: auto;
    justify-content: center;
    justify-items: center;
    margin: 40px 0px;
}