.target-character {
    height: 150px;
    left: calc(50% - 75px);
    margin-top: 10px;
    position: relative;
    width: 150px;
}

.target-character__image {
    border-radius: 50%;
    height: 100%;
    object-fit: cover;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
}

.stars-bursting-effect {
    height: 100%;
    object-fit: cover;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
}

/* Animations */

.float-animation {
    animation: float 2s ease-in-out 0s alternate infinite both;
}

@keyframes float {
    0% {
        transform: translateY(-5px);
    }
    100% {
        transform: translateY(5px);
    }
}