.header {
    background: linear-gradient(0deg, #010127 10%, #320F58 90%);
    padding-bottom: 40px;
    padding-top: 40px;
}

.logo {
    height: 90px;
}

.header__list {
    display: inline-block;
    list-style: none;
    margin-left: 30px;
}

.list__item {
    margin-bottom: 5px;
}

/* Animations */

.hue-animation {
    animation: rotate-hue 60s linear 10s normal infinite both;
}

@keyframes rotate-hue {
    0% {
        filter: hue-rotate(0deg);
    }
    100% {
        filter: hue-rotate(359deg);
    }
}