.tag--right {
    background-color: #7DF909;
    border-radius: 10px;
    color: #013321;
    padding: 4px 10px;
    font-weight: bold;
}

.tag--wrong {
    background-color: #F95959;
    border-radius: 10px;
    color: #631010;
    padding: 4px 10px;
    font-weight: bold;
}

.tag--neutral {
    background-color: #BEEEFF;
    border-radius: 10px;
    color: #00455E;
    padding: 4px 10px;
    font-weight: bold;
}