.register {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: calc(100vh - 90px);
    min-height: 550px;
}

.register__container {
    display: flex;
    flex-direction: column;
    height: 80%;
    justify-content: space-around;
    max-height: 850px;
    padding: 40px;
    width: 350px;
}

.register__title {
    font-size: 24px;
}

.register__form {
    display: flex;
    flex-direction: column;
}

.register__input {
    margin-bottom: 10px;
}

.register__button {
    margin-bottom: 20px;
    margin-top: 10px;
}

.register__container--login {
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 550px) {
    .style-box {
        background-color: transparent;
        border: none;
        box-shadow: none;
    }
    .register__container {
        width: 100%;
    }
}